body {
  margin: 0px;
}

#Navbar {
  background-color: rgba(26, 24, 24, 0.89);
  color: white;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#Logo {
  color: pink;
  font-family: cursive;
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
}

#Navbar nav button {
  background-color: inherit;
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  border: none;
  outline: none;
  box-sizing: border-box;
  height: inherit;
  padding: 13px;
  margin: 3px;
}

#Main {
  padding: 25px;
  text-align: center;
}

#Footer {
  box-sizing: border-box;
  width: 100%;
  padding: 25px;
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  position: absolute;
  bottom: 0%;
  left: 0%;
}
