body {
  margin: 0px;
}

#Reactcontainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#Reactcontainer div:nth-of-type(2) {
  flex-grow: 1;
}

#Navbar {
  background-color: rgba(26, 24, 24, 0.89);
  color: white;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#Logo {
  color: pink;
  font-family: cursive;
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
}

#Navbar nav button {
  background-color: inherit;
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  border: none;
  outline: none;
  box-sizing: border-box;
  height: inherit;
  padding: 13px;
  margin: 3px;
}

#Main {
  padding: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Main #Question {
  font-size: 75px;
  font-weight: 800;
  color: red;
  padding: 15px;
  text-shadow: 0 0 5px #0000ff;
}

#Main #Ans {
  font-size: 40px;
  width: 200px;
  color: green;
  text-align: center;
  font-weight: 800;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 15px;
  outline: none;
}

#Footer {
  padding: 25px;
  font-size: 25px;
  font-weight: 800;
  font-style: italic;
  text-align: center;
}
